@inherits LayoutComponentBase


<MudThemeProvider Theme="@RohTheme.Dark" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-root">

    <AppBarRoh />
    <DrawerRoh />

    <main class="content">
        @Body
    </main>

</div>
