@page "/races"
@using ROH.Site.Components.Custom

<CardComponent Header="The Races">

    <CardComponent Header="Humans">
        <p>
            Known for their adaptability and thriving in large communities, Humans possess the ability to learn
            skills 15% faster and have a 10% resistance to cold. They have become influential in various aspects
            of the world, balancing their adaptability with their need for exploration and innovation.
        </p>
    </CardComponent>

    <CardComponent Header="Elves">
        <p>
            Elves live in harmony with nature within ancient forests. They are adept at nature magic and agility
            skills, learning these abilities 20% faster than other races. Their connection to the forest means
            creatures generally do not attack them unless provoked.
        </p>
    </CardComponent>

    <CardComponent Header="Dwarfs">
        <p>
            Residing in caverns, Dwarfs are known for their advanced technology and dislike for other races,
            particularly Elves. They excel in crafting powerful items and mining, learning strength skills 20%
            faster but find magic 20% harder to master.
        </p>
    </CardComponent>

    <CardComponent Header="Demons">
        <p>
            Preferring warm climates, Demons have a natural affinity for fire magic, learning it 25% faster and
            having a 50% resistance to fire. They struggle with agility and strength skills, which are 20%
            harder for them to develop.
        </p>
    </CardComponent>

</CardComponent>