@page "/Manager/Version/VersionManager"
@using Newtonsoft.Json;
@using ROH.Blazor.Server.Api;
@using ROH.StandardModels.Version;


<div class="row">
    <Manager.Version.Components.CurrentVersionComponent></Manager.Version.Components.CurrentVersionComponent>
</div>

<div class="row">
    <div class="col-sm-6">
        <Manager.Version.Components.NewVersionComponent></Manager.Version.Components.NewVersionComponent>
    </div>
    <div class="col-sm-6">
        <Manager.Version.Components.AllVersionsComponent></Manager.Version.Components.AllVersionsComponent>
    </div>

</div>
