.card-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card-body {
    padding: 20px;
    line-height: 1.6;
}

.expansion-panel {
    margin-bottom: 15px;
}

.card-divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.custom-appbar {
    background-color: black;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-sm-4, .col-sm-8 {
    flex: 1;
    min-width: 250px; /* Ensures that the columns don't become too small */
}

.boss-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}