.card-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card-body {
    padding: 20px;
    line-height: 1.6;
}

.expansion-panel {
    margin-bottom: 15px;
}

.card-divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.custom-appbar {
    background-color: black;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}
