@inherits LayoutComponentBase
@using MatBlazor
@inject NavigationManager Navigation;

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleDrawer" />
                <MatAppBarTitle>Reign of Humanae</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="MatAppBarSectionAlign.End">
                <MatIconButton Icon="account_circle" OnClick="@(() => Navigation.NavigateTo("/login"))"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatDrawerContainer>
        <MatAppBarContent>
            <MatDrawer @bind-Opened="@_drawerOpen" class="fixed-drawer" style="position: fixed;">
                <MatNavMenu >
                    <MatNavItem Href="/">Home</MatNavItem>
                    <MatNavItem Href="/lore">Lore</MatNavItem>
                    <MatNavItem Href="/world-bosses">World Bosses</MatNavItem>
                    <MatNavItem Href="/races">Races</MatNavItem>
                    <MatNavItem Href="/crafting">Crafting</MatNavItem>
                    <MatNavItem Href="/magic-skills">Magic & Skills</MatNavItem>
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent class="scrollable-content"> 
                <div class="container" style="margin-top: 20px;">
                    @Body
                <MatFooter>
                    <span>&copy; 2024 Reign of Humanae. All rights reserved.</span>
                </MatFooter>
                </div>
            </MatDrawerContent>
        </MatAppBarContent>
    </MatDrawerContainer>
</MatAppBarContainer>

@code {
    private bool _drawerOpen = true;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}
