.card-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card-body {
    padding: 20px;
    line-height: 1.6;
}

.expansion-panel {
    margin-bottom: 15px;
}

.card-divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.custom-appbar {
    background-color: black;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-sm-4, .col-sm-8 {
    flex: 1;
    min-width: 250px; /* Ensures that the columns don't become too small */
}

.boss-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}

.fixed-drawer {
    position: fixed; /* Fixes the drawer position */
    top: 64px; /* Adjusts to align with the app bar height */
    width: 250px; /* Fixed width for the drawer */
    overflow-y: auto; /* Allows the drawer itself to be scrollable if its content exceeds the viewport */
    height: calc(100vh - 64px); /* Full height minus the app bar */
    z-index: 1000; /* Ensures the drawer is above other content */
}

.scrollable-content {
    margin-left: 250px; /* Adjust this to match the drawer's width */
    overflow-y: auto; /* Allows the content to be scrollable */
    height: calc(100vh - 64px); /* Full height minus the app bar */
    padding: 20px; /* Adds padding to the content area */
}