@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@namespace Pages.Components

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private bool IsAuthorized { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        IsAuthorized = authState?.User?.Identity?.IsAuthenticated ?? false;
    }
}

@if (IsAuthorized)
{
    @ChildContent
}
else
{
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Access Denied!</h4>
    <p>You are not authorized to view this page.</p>
    <hr>
    <p class="mb-0">If you believe this is an error, please contact support.</p>
</div>
}