@namespace Manager.Version.Components
@using ROH.Blazor.Server.Helpers;
@using ROH.Blazor.Server.Helpers.Types;
@using ROH.Blazor.Server.Interfaces.Api;
@using ROH.Blazor.Server.Interfaces.Helpers;
@using ROH.StandardModels.Version
@using ROH.Blazor.Server.Api;
@using Pages.Components;
@using ROH.Utils.Helpers;

@inject ISweetAlertService _sweetAlert;
    
@inject IVersionService _versionService;

<CardComponent Header="New Version">
    <div class="row">
        <div class="col-sm-4">
            <label for="Version">Version:</label>
        </div>
        <div class="col-sm-8">
            <input type="number" id="Version" class="form-control" @bind="inputVersion" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label for="Release">Release:</label>
        </div>
        <div class="col-sm-8">
            <input type="number" id="Release" class="form-control" @bind="inputRelease" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label for="Review">Review:</label>
        </div>
        <div class="col-sm-8">
            <input type="number" id="Review" class="form-control" @bind="inputReview" />
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" @onclick="CreateNewVersion">Create New Version</button>
        </div>
    </div>

</CardComponent>

@code {

    private int inputVersion = 0;
    private int inputRelease = 0;
    private int inputReview = 0;

    private GameVersionModel currentVersion = new()
        {
            Version = 0,
            Release = 0,
            Review = 0
        };


    private async Task CreateNewVersion()
    {
        GameVersionModel model = new GameVersionModel() { Version = inputVersion, Release = inputRelease, Review = inputReview };

        var response = await _versionService.CreateNewVersion(model);

        if (response != null)
            await _sweetAlert.ShowResponse(response);
    }
}