@namespace Manager.Version.Components

@using ROH.Site.Components.Custom
@using ROH.Site.Interfaces.Api
@using ROH.Site.Interfaces.Helpers
@using ROH.StandardModels.Version
@using ROH.Utils.Helpers;

@inject IRohAlertService _sweetAlert;

@inject IVersionService _versionService;

<CardComponent Header="New Version">
    <div class="row">
        <div class="col-sm-12">
            <MudTextField T="int"
                          Label="Release"
                          Variant="Variant.Outlined"
                          Value="@inputRelease"
                          ReadOnly="true" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <MudTextField T="int"
                          Label="Review"
                          Variant="Variant.Outlined"
                          Value="@inputReview"
                          ReadOnly="true" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <MudTextField T="int"
                          Label="Version"
                          Variant="Variant.Outlined"
                          Value="@inputVersion"
                          ReadOnly="true" />
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <MudButton ButtonType="ButtonType.Button"
                       Color="Color.Primary"
                       OnClick="CreateNewVersion">Create New Version</MudButton>
        </div>
    </div>

</CardComponent>

@code {

    private int inputVersion = 0;
    private int inputRelease = 0;
    private int inputReview = 0;

    private readonly GameVersionModel currentVersion = new()
    {
        Version = 0,
        Release = 0,
        Review = 0
    };


    private async Task CreateNewVersion()
    {
        GameVersionModel model = new GameVersionModel() { Version = inputVersion, Release = inputRelease, Review = inputReview };

        var response = await _versionService.CreateNewVersion(model);

        if (response != null)
            await _sweetAlert.ShowResponse(response);
    }
}