@page "/Login"
@using Interfaces.Api
@using Interfaces.Helpers
@using Helpers
@using MatBlazor
@using ROH.Site.Components.Custom
@using ROH.Utils.Helpers;
@using ROH.StandardModels.Account
@inject NavigationManager Navigation;
@inject IAccountService _accountService;
@inject ISweetAlertService _sweetAlert;
@inject ICustomAuthenticationStateProvider _customAuthenticationStateProviderProvider;

<CardComponent Header="Login">
    <div class="center-content">
        <MatInputTextComponent Label="Login" @bind-Value="@LoginValue"></MatInputTextComponent>
        <MatInputTextComponent Label="Password" @bind-Value="@PasswordValue" Type="password"></MatInputTextComponent>
        <div class="row" style="margin-top:10px">
            <div class="col-auto">
                <MatButton OnClick="Confirm">Confirm</MatButton>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-auto">
                <MatButton OnClick="@(() => Navigation.NavigateTo("/createaccount"))">New Account</MatButton>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-auto">
                <MatButton>Forgot Password</MatButton>
            </div>
        </div>
    </div>
</CardComponent>

@code {
    public string LoginValue { get; set; } = "";
    public string PasswordValue { get; set; } = "";


    public async Task Confirm()
    {
        var response = await _accountService.Login(
            new StandardModels.Account.LoginModel()
                {
                    Login = LoginValue,
                    Password = PasswordValue
                }
        );

        await _sweetAlert.ShowResponse(response ?? new StandardModels.Response.DefaultResponse(httpStatus: System.Net.HttpStatusCode.BadGateway));

        if (response?.HttpStatus.IsSuccessStatusCode() is true)
        {
            string token = response?.ResponseToModel<UserModel>().Token ?? string.Empty;
            string userGuid = response?.ResponseToModel<UserModel>().Guid.ToString() ?? string.Empty;
            await _customAuthenticationStateProviderProvider.SetUserToken(userGuid, token);
            Navigation.NavigateTo("/");
        }

        StateHasChanged();
    }


}

