@rendermode InteractiveServer
@page "/"
@using ROH.Site.Components.Custom

<PageShell>
    <Body>
        <div class="card-container">
            <CardComponent Header="Welcome to the World of Humanae">
                <p class="lead">
                    Explore the diverse and dynamic realm of Reign of Humanae, where history and magic intertwine.
                </p>
                <p>
                    The ancient realm of Humanae flourished with a unity that transcended time. The Humanae, an intelligent race
                    gifted with a collective consciousness, thrived in harmony for centuries. However, as the eons unfolded, the
                    essence of Humanae splintered into distinct entities, giving rise to the Humans, Elves, Dwarfs, and Demons.
                </p>

                <div class="card-divider"></div>

                <CardComponent Header="The World of Humanae">
                    <p>
                        The world of Reign of Humanae was once a unified realm inhabited by a singular intelligent race known as
                        the Humanae. As time passed, the Humanae evolved into four distinct races: Humans, Elves, Dwarfs, and
                        Demons. Each race developed its own unique characteristics and abilities, shaping the diverse and
                        dynamic world of Humanae.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="The Races">
                    <div class="expansion-panel">
                        <b>Humans</b>
                        <p>
                            Known for their adaptability and thriving in large communities, Humans possess the ability to learn
                            skills 15% faster and have a 10% resistance to cold. They have become influential in various aspects
                            of the world, balancing their adaptability with their need for exploration and innovation.
                        </p>
                    </div>
                    <div class="expansion-panel">
                        <b>Elves</b>
                        <p>
                            Elves live in harmony with nature within ancient forests. They are adept at nature magic and agility
                            skills, learning these abilities 20% faster than other races. Their connection to the forest means
                            creatures generally do not attack them unless provoked.
                        </p>
                    </div>
                    <div class="expansion-panel">
                        <b>Dwarfs</b>
                        <p>
                            Residing in caverns, Dwarfs are known for their advanced technology and dislike for other races,
                            particularly Elves. They excel in crafting powerful items and mining, learning strength skills 20%
                            faster but find magic 20% harder to master.
                        </p>
                    </div>
                    <div class="expansion-panel">
                        <b>Demons</b>
                        <p>
                            Preferring warm climates, Demons have a natural affinity for fire magic, learning it 25% faster and
                            having a 50% resistance to fire. They struggle with agility and strength skills, which are 20%
                            harder for them to develop.
                        </p>
                    </div>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="The Age of Strife and The Age of Splendors">
                    <p>
                        The world of Humanae was marked by a long and brutal conflict known as the War of the Races. This era of
                        strife eventually gave way to the Age of Splendors, a time of peace and prosperity forged through the
                        signing of the Pact of Unity. The treaty established diplomatic relations, trade agreements, and
                        collaborative efforts between the races, leading to an era of cooperation and cultural flourishing.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="The Sentinel Accord">
                    <p>
                        In response to the dangers posed by interdimensional portals that began appearing and unleashing
                        monstrous invasions, the races formed the Sentinel Accord. This alliance saw the creation of Sentinel
                        Artifacts, a blend of Dwarven technology and Elven magic, designed to protect the realms from the
                        incursions. These artifacts, while effective, required constant maintenance to keep the monsters at bay.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="World Bosses">
                    <p>
                        The world is guarded by twelve formidable world bosses, each with unique abilities and temperaments.
                        Some are peaceful and only attack when provoked, while others are inherently hostile. These bosses play
                        a critical role in the world's balance and challenge players to confront their might.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="The Role of Kings">
                    <p>
                        Each kingdom has a ruler, initially an NPC, who governs and makes decisions such as declaring war,
                        setting trade regulations, and managing guard behavior. Players can challenge and replace the reigning
                        king through tournaments held every three months. If a player king fails to log in for seven days, an
                        NPC king will assume the role to maintain order and peace.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="Guardians of the Realms">
                    <p>
                        The guards in each kingdom reflect the nature of their realms. Demonic realms employ trained hellhounds,
                        Human realms use faceless summoned guards, Elven realms are protected by ents and fairies, and Dwarven
                        realms have mechanical, robotic guards.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="Item Crafting">
                    <p>
                        Each race has unique crafting abilities and items. A master blacksmith from one race can sell crafting
                        instructions to players of other races, allowing for diverse item creation across the realms. Crafting
                        requires specific materials, adding depth to the crafting system.
                    </p>
                </CardComponent>

                <div class="card-divider"></div>

                <CardComponent Header="Magic and Skills">
                    <p>
                        Skills in magic, item handling, and forging improve with use. Players can channel magic to enhance its
                        effects, with mana consumption and channeling time decreasing as they gain affinity with the magic type.
                        This system encourages ongoing development and mastery of various skills.
                    </p>
                </CardComponent>
            </CardComponent>
        </div>
    </Body>
</PageShell>